{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-3 p-0">
  <table class="table table-striped-columns">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Наименование</th>
      <th scope="col">Дата попытки</th>
      <th scope="col">Рассылка</th>
      <th scope="col">Статус</th>
      <th scope="col">Кнопки</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.pk }}</td>
      <td>{{ object.try_number }}</td>
      <td>{{ object.last_try }}</td>
      <td>{{ object.mailing }}</td>
      <td>{{ object.try_status }}</td>
      <td>
        <div class="col-12 p-1">
          <a class="btn btn-outline-dark col-12" href="{% url 'mailings:mailingtry_detail' object.pk %}">Подробнее</a>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}