{% extends 'main/base.html' %}
{% block content %}
{% if perms.mailings.add_mailing %}
<div class="container p-0">
  <a class="btn btn-outline-success" href="{% url 'mailings:mailing_create' %}">Добавить рассылку</a>
</div>
{% endif %}
<div class="container mt-3 p-0">
  <table class="table table-striped-columns">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Наименование</th>
      <th scope="col">Статус</th>
      <th scope="col">Периодичность</th>
      <th scope="col">Сообщение</th>
      <th scope="col">Кнопки</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.pk }}</td>
      <td>{{ object.name|truncatechars:15 }}</td>
      <td>{{ object.get_status_display }}</td>
      <td>{{ object.get_interval_display }}</td>
      <td>
        {% if object.message %}
        {{ object.message|truncatechars:15 }}
        {% else %}
        <h6>Отсутствует</h6>
        {% endif %}
      </td>
      <td>
        <div class="col-12 p-1">
          <a class="btn btn-outline-dark col-12" href="{% url 'mailings:mailing_detail' object.pk %}">Подробнее</a>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}