{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
  <div class="card mt-5">
    <div class="card-header">
      {{ object.name }}
    </div>
    <div class="card-body">
      Статус: {{ object.status }}<br>
      Сообщение: {{ object.message }}
    </div>
    <div class="card-footer">
      <div class="row col-4">
        <div class="col-6 p-1">
          <form method="post">
            {% csrf_token %}
            <button class="btn btn-outline-danger col-12">Удалить</button>
          </form>
        </div>
        <div class="col-6 p-1">
          <a class="btn btn-outline-secondary col-12" href="{% url 'mailings:mailing_list' %}">Назад</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

