{% extends 'main/base.html' %}
{% block content %}
<div class="container col-6">
  <div class="card mt-5">
    {% if object.first_name or object.last_name %}
    <div class="card-header">
      <h4>{{ object.first_name }} {{ object.last_name }}</h4>
    </div>
    {% endif %}
    <form method="post">
      <div class="card-body">
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <div class="card-footer">
        <div class="row col-12">
          {% if object %}
          <div class="col-6 p-1">
            <button class="btn btn-outline-success col-12">Сохранить изменения</button>
          </div>
          {% else %}
          <div class="col-6 p-1">
            <button class="btn btn-outline-success col-12">Зарегистрироваться</button>
          </div>
          {% endif %}
          <div class="col-6 p-1">
            <a class="btn btn-outline-secondary col-12" href="{% url 'main:index' %}">На главную</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}